<div class = "input-container">
    <label for="{{inputId}}">{{inputLabel}}</label>
    <input name = "{{inputName}}" type="{{inputType}}" id = "{{inputId}}" placeholder="{{inputLabel}}"/>
    <span class = "error">{{errorText}}</span>
</div>
