<div class = "input-container">
    <label for="{{id}}">{{label}}</label>
    <input name = "{{name}}" type="{{type}}" id = "{{id}}" placeholder="{{label}}" ref = "{{ref}}"/>
    <span class = "error">{{error}}</span>
</div>
