<div class = "input-container">
    {{#if not_empty}}
        <label for="{{id}}">{{label}}</label>
    {{/if}}    
    <input value = "{{value}}" name = "{{name}}" type="{{type}}" id = "{{id}}" ref = "{{ref}}" data-validate = "{{validate_type}}" data-comparison-value = "{{comparison_value}}"/>
    <span class = "error">{{error}}</span>
</div>
