<div class = "input-container">
    {{#ifEq not_empty "yes"}}
        <label for="{{id}}">{{label}}</label>
    {{/ifEq}}    
    <input value = "{{value}}" name = "{{name}}" type="{{type}}" id = "{{id}}" ref = "{{ref}}" data-validate = "{{validate_type}}" />
    <span class = "error">{{error}}</span>
</div>
