
<div class = "member-item">
    <a href = "{{memberLink}}" class = "member-info">
        <img src = "{{memberPhoto}}" class = "member-photo" alt = "{{memberLogin}}"/>
        <div class = "member-login">{{memberLogin}}</div>
        <div class = "member-name">{{memberName}}</div>
    </a>
    {{#if memberAdd}}
        <a href = "#" class = "member-add" data-id = {{id}}></a>
    {{/if}}
    {{#if hiddenInput}}
        <input type="hidden" value = "{{id}}" name = "chat_members"/>
    {{/if}}
</div>
