<div class = "main-container">
    <nav>
        <ul>
            <li>{{{Link name = "Авторизация" render = "auth"}}}</li>
            <li>{{{Link name = "Регистрация" render = "register"}}}</li>
            <li>{{{Link name = "Редактирование пароля" render = "pass_edit"}}}</li>
            <li>{{{Link name = "Чаты" render = "chat"}}}</li>
            <li>{{{Link name = "Профиль" render = "profile"}}}</li>
            <li>{{{Link name = "Редактирование профиля" render = "profile_edit"}}}</li>
            <li>{{{Link name = "Профиль сообщества" render = "community"}}}</li>
            <li>{{{Link name = "Редактирование профиля сообщества" render = "community_edit"}}}</li>
            <li>{{{Link name = "Ошибка" render = "error"}}}</li>

        </ul>
    </nav>
</div>

