    <form class = "form-container">
        <h1>{{title}}</h1>
        {{{errorMsg}}}
        <div class = "form-body" >
            {{#each inputs}}
                {{{this}}}
            {{/each}}
            
        </div>
        <div class = "form-footer">
            {{{submitBtn}}}
            {{{link}}}
        </div>
    </form>
