    <h1>{{title}}</h1>
    <form url="{{url_submit}}" class = "form-container">
        <div class = "form-body">
            {{{ input_1 }}}
            {{{ input_2 }}}
        </div>
        <div class = "form-footer">
            {{submit_btn}}
            {{secondary_btn}}
        </div>
    </form>
