    <form url="{{url_submit}}" class = "form-container">
        <h1>{{title}}</h1>
        <div class = "form-body" >
            {{#each inputs}}
                {{{Input name = name label = label id=id type=type error = error onFocusout = onFocusout ref = ref}}}
            {{/each}}
            
        </div>
        <div class = "form-footer">
            {{{ SubmitBtn text=submit_btn.text onClick = submit_btn.onClick}}}
            {{{ SecondaryBtn text=secondary_btn.text href = secondary_btn.href onClick = secondary_btn.onClick}}}
        </div>
    </form>
