{{#defpage}}
    {{#leftside}}
        <div class = "fixed-container">
            <div class = "fixed-block">
                <div class = "left-top-block">
                    {{{ProfilePersonalLink profile_img = profile_personal_link.profile_img profile_name = profile_personal_link.profile_name}}} 
                    {{{CommunityAddLink}}}
                </div>
                {{{Search submit_url = search.submit_url not_focused="yes"}}}
            </div>
        </div>
        {{{ContactList contacts = contact_list ref = "contact_list"}}}

  
    {{/leftside}}
    {{#rightside}}
        {{{ChatInfo chatName = chat_info.chatName chatImg = chat_info.chatImg personalChat = chat_info.personalChat}}}
        {{{Dialog dialog = dialog}}}
        {{{SendMsgForm ref = send_msg_form.ref send_msg_btn = send_msg_form.send_msg_btn send_msg_text = send_msg_form.send_msg_text send_msg_file = send_msg_form.send_msg_file}}}
    {{/rightside}}
{{/defpage}}
