
<form  class = "profile-form">
{{{errorMsg}}}
 

{{#if is_loaded}}
    {{{profilePhoto}}}
    <div class = "profile-header">{{title}}</div>
    <div class = "profile-body password-edit">
            {{{profileItem}}}
    </div>
     <div class = "about-members-block">
        <div class = "members-block">
            {{{memberList}}}
        </div> 
        <div class = "search-block">
            {{{userSearch}}}
        </div>
            
    </div> 
{{else}}
    <div class = "access-denied">Идет загрузка...
{{/if}}

        <!--
        <div class = "profile-header">{{title}}</div>
        <div class = "profile-body password-edit">
            {{#each profile_items}}
                {{{ProfileItem infoLabel = infoLabel value = value infoName = infoName infoType = infoType editMode = editMode ref = ref validate_type = validate_type}}}
            {{/each}}
        </div>

        <div class = "about-members-block">
            <div class = "members-block">
                {{{MemberList member_list = member_list hideInput = "yes"}}}
            </div> 
            <div class = "search-block">
                {{{UserSearch addUser = addUser}}}
            </div>
               
        </div>    
        
       
        {{#if edit_mode}}
            <div class = "profile-footer form-footer">
            {{{SubmitBtn text = submit_btn.text onClick = submit_btn.onClick}}}
            </div>
        {{/if}}    
        {{#if footer_links}}
            <div class = "profile-footer">
                <div class = "action-link"><a href = "/profile-edit">Изменить данные</a></div>
                <div class = "action-link"><a href = "/pass-edit">Изменить пароль</a></div>
                <div class = "action-link">{{{LogoutBtn text = "Выйти"}}}</div>
            </div>
        {{/if}}  -->           
</form>
