    {{#if edit_mode}}
        <form class = "profile-form">
    {{else}}
        <div  class = "profile-form">
    {{/if}}    
        {{{profilePhoto}}}
        <div class = "profile-header">{{title}}</div>
        <div class = "profile-body password-edit">
            {{#each profile_items}}
                {{{this}}}
            {{/each}}
        </div>
       
            {{#if edit_mode}}
                <div class = "profile-footer form-footer">
                {{{submitBtn text = submit_btn.text onClick = submit_btn.onClick}}}
                </div>
            {{/if}}    
            {{#if footer_links}}
                <div class = "profile-footer">
                    <div class = "action-link">{{{link_1}}}</div>
                    <div class = "action-link">{{{link_2}}}</div>
                    <div class = "action-link">{{{logoutBtn}}}</div>
                </div>
            {{/if}}  
    {{#if edit_mode}}             
        </form>
    {{else}}
        </div>
    {{/if}}        
