<div class = "fixed-container">
    <div class = "chat-info-block">
        <div class = "chat-info">
            <div class = "chat-info-left">
                <div class = "chat-img">
                    <img src = "{{chatImg}}" alt = "{{chatName}} - аватар"/>
                </div> 
                <div class = "chat-name">
                    {{chatName}}
                </div> 
            </div>    
            <div class = "persoanl-settings chat-info-right">
                {{{link_info}}}
                {{{link_edit}}}
                {{{link_delete}}}
                
            </div>
 
        </div>    
    </div>
    {{{popupDeleteChat}}}
</div>
