<form class = 'set-avatar' action = '#'>
    <div class = 'upload-status'>Загрузите файл</div>
    {{{errorMsg}}}
    {{{uploadFile}}}
    {{{uploadLink}}}
    <div class = 'selected-file'>
        <span class = 'selected-file-name'></span>
        {{{deleteFile}}}
    </div>
    {{{submitBtn}}}
    <div class = 'err'></div>
</form>

