<div>
<div class = "profile-item {{#ifEq infoType "textarea"}} textarea {{/ifEq}}">
    <label class = "profile-name" for = "{{infoName}}">{{infoLabel}}</label>
    {{#if editMode}} 
        <input class = "profile-value" value = "{{value}}"  name = "{{infoName}}" id = "{{infoName}}" type="{{infoType}}" ref = {{ref}}/>
    {{else}}
        <input class = "profile-value" value = "{{value}}" name = "{{infoName}}" id = "{{infoName}}" disabled type="{{infoType}}"/>

    {{/if}}  
</div>
<div class = "error">{{error}}</div> 
</div>

